* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF9BF;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}

.header h1 {
    color: #75B79E;
    margin: 0 auto;
    font-size: 66px;
    font-weight: 700;
}

.timer {
    width: 100%;
    padding-right: 20px;
    text-align: end;
    color: red;
    box-sizing: border-box;
}

.board {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    flex-wrap: wrap;


}


.card-container {
    position: relative;
    height: 174px;
    width: 132px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;

}

.card {
    position: absolute;
    height: 174px;
    width: 132px;

    transform-style: preserve-3d;
    transition: all 1s ease;
}



.frente {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #A7E9AF;
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
    justify-content: center;
}

.frente img {
    width: 100px;
    height: 100px;
}

.verso img {
    width: 60%;
    backface-visibility: hidden;
}

.verso {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    top: 0;
    cursor: pointer;
}


.card.virada {
    transform: rotateY(180deg);

}

.card.certa {
    transform: rotateY(180deg);
}